footer
    .container
        .row.footer-info
            .col-md-4.col-sm-12.col-xs-12
                img(src='img/logo.png', alt='')
                p
                    | Hidalgo is the most authentically Mexican restaurant in Juneau and probably in the whole of Alaska! We bring the
                    | traditional Mexican cuisine and mariachi bands to this cold-weathered state... Try any of our
                    | Mexican dishes, be it a nacho with jalapeño or a tequila induced burrito, and you'll feel like visiting Mexico!
            .col-md-4.col-sm-12.col-xs-12
                h4 Instagram
                .insta-items
                    // First row
                    .row
                        .insta-item
                            a.insta-link(href='https://www.instagram.com/p/BK76usIBxMX/', target='_blank')
                                img.insta-img(src='img/insta/insta-1.jpg', alt='')
                        .insta-item
                            a.insta-link(href='https://www.instagram.com/p/BK76usIBxMX/', target='_blank')
                                img.insta-img(src='img/insta/insta-2.jpg', alt='')
                        .insta-item
                            a.insta-link(href='https://www.instagram.com/p/BK76usIBxMX/', target='_blank')
                                img.insta-img(src='img/insta/insta-3.jpg', alt='')
                        .insta-item
                            a.insta-link(href='https://www.instagram.com/p/BK76usIBxMX/', target='_blank')
                                img.insta-img(src='img/insta/insta-4.jpg', alt='')
                    // Second row
                    .row
                        .insta-item
                            a.insta-link(href='https://www.instagram.com/p/BK76usIBxMX/', target='_blank')
                                img.insta-img(src='img/insta/insta-5.jpg', alt='')
                        .insta-item
                            a.insta-link(href='https://www.instagram.com/p/BK76usIBxMX/', target='_blank')
                                img.insta-img(src='img/insta/insta-6.jpg', alt='')
                        .insta-item
                            a.insta-link(href='https://www.instagram.com/p/BK76usIBxMX/', target='_blank')
                                img.insta-img(src='img/insta/insta-7.jpg', alt='')
                        .insta-item
                            a.insta-link(href='https://www.instagram.com/p/BK76usIBxMX/', target='_blank')
                                img.insta-img(src='img/insta/insta-8.jpg', alt='')
            .col-md-4.col-sm-12.col-xs-12
                h4 Contact us
                ul
                    li
                        span.fa.fa-map-marker
                        |  6087 Richmond hwy, Alexandria, VA
                    li
                        span.fa.fa-phone
                        |  703 329 0632
                    li
                        span.fa.fa-clock-o
                        |  Mo-Fr 11:00-00:00, Sa-Su 15:00-00:00
                    li
                        span.fa.fa-envelope
                        |  info@demolink.org
    hr
// lower footer
section.lower-footer
    .container.lower-footer
        .col-md-6.col-xs-12
            p © 2016 Hidalgo. All Rights Reserved. Terms of use and Privacy Policy
        .col-md-6.col-xs-12
            ul.pull-right
                li
                    a.icon.fa.fa-facebook(href='#')
                li
                    a.icon.fa.fa-twitter(href='#')
                li
                    a.icon.fa.fa-google-plus(href='#')
                li
                    a.icon.fa.fa-youtube(href='#')
                li
                    a.icon.fa.fa-rss(href='#')