extends layouts/main

block content
    section.common-menu
        .container
            .row.upper-info
                ul.pull-right
                    li
                        span.fa.fa-map-marker
                        |  6087 Richmond hwy, Alexandria, VA
                    li
                        span.fa.fa-phone
                        |  703 329 0632
                    li
                        span.fa.fa-clock-o
                        |  Mo-Fr 11:00-00:00, Sa-Su 15:00-00:00
            .row
                img(src='img/logo.png', alt='logo')
                nav.pull-right
                    ul.menu
                        li
                            a(href='index.html') Home
                        li
                            a(href='services.html') Services
                        li
                            a(href='team.html') Team
                        li
                            a(href='pricing-table.html') Offers
                        li
                            a(href='menu.html') Our menu
    // Breadcrumbs
    .breadcrumb
        .container
            ul
                li
                    a(href='index.html') Home
                li.active
                    a(href='menu.html') Menu
    // Appetizer
    section.section-appetizer
        .container
            h1 Appetizer
    // Appetizer body
    section.section-appetizer-body
        .container
            .dishes
                .receipe
                    h5
                        a(href='barbacoa.html') Authentic Mexican Barbacoa
                        span.price.pull-right  $5.45
                    p 200g of Black Angus steak, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Plate with Taco
                        span.price.pull-right  $18.45
                    p Nachos chips and tomato dip, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Beef Fajitas with color
                        span.price.pull-right  $23.45
                    p Peppers in pan and tortilla bread and sauces
                .receipe
                    h5
                        a(href='barbacoa.html') Taco Salad in a Tortilla
                        span.price.pull-right  $18.45
                    p Bowl with Beef Cheese and Lettuce
                .receipe
                    h5
                        a(href='barbacoa.html') Authentic Mexican Barbacoa
                        span.price.pull-right  $5.45
                    p 200g of Black Angus steak, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Plate with Taco
                        span.price.pull-right  $18.45
                    p Nachos chips and tomato dip, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Beef Fajitas with color
                        span.price.pull-right  $23.45
                    p Peppers in pan and tortilla bread and sauces
                .receipe
                    h5
                        a(href='barbacoa.html') Taco Salad in a Tortilla
                        span.price.pull-right  $18.45
                    p Bowl with Beef Cheese and Lettuce
                .receipe
                    h5
                        a(href='barbacoa.html') Authentic Mexican Barbacoa
                        span.price.pull-right  $5.45
                    p 200g of Black Angus steak, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Plate with Taco
                        span.price.pull-right  $18.45
                    p Nachos chips and tomato dip, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Beef Fajitas with color
                        span.price.pull-right  $23.45
                    p Peppers in pan and tortilla bread and sauces
                .receipe
                    h5
                        a(href='barbacoa.html') Taco Salad in a Tortilla
                        span.price.pull-right  $18.45
                    p Bowl with Beef Cheese and Lettuce
                .receipe
                    h5
                        a(href='barbacoa.html') Authentic Mexican Barbacoa
                        span.price.pull-right  $5.45
                    p 200g of Black Angus steak, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Plate with Taco
                        span.price.pull-right  $18.45
                    p Nachos chips and tomato dip, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Beef Fajitas with color
                        span.price.pull-right  $23.45
                    p Peppers in pan and tortilla bread and sauces
                .receipe
                    h5
                        a(href='barbacoa.html') Taco Salad in a Tortilla
                        span.price.pull-right  $18.45
                    p Bowl with Beef Cheese and Lettuce
                .receipe
                    h5
                        a(href='barbacoa.html') Authentic Mexican Barbacoa
                        span.price.pull-right  $5.45
                    p 200g of Black Angus steak, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Plate with Taco
                        span.price.pull-right  $18.45
                    p Nachos chips and tomato dip, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Beef Fajitas with color
                        span.price.pull-right  $23.45
                    p Peppers in pan and tortilla bread and sauces
                .receipe
                    h5
                        a(href='barbacoa.html') Taco Salad in a Tortilla
                        span.price.pull-right  $18.45
                    p Bowl with Beef Cheese and Lettuce
                .receipe
                    h5
                        a(href='barbacoa.html') Authentic Mexican Barbacoa
                        span.price.pull-right  $5.45
                    p 200g of Black Angus steak, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Plate with Taco
                        span.price.pull-right  $18.45
                    p Nachos chips and tomato dip, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Beef Fajitas with color
                        span.price.pull-right  $23.45
                    p Peppers in pan and tortilla bread and sauces
                .receipe
                    h5
                        a(href='barbacoa.html') Taco Salad in a Tortilla
                        span.price.pull-right  $18.45
                    p Bowl with Beef Cheese and Lettuce
                .receipe
                    h5
                        a(href='barbacoa.html') Authentic Mexican Barbacoa
                        span.price.pull-right  $5.45
                    p 200g of Black Angus steak, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Plate with Taco
                        span.price.pull-right  $18.45
                    p Nachos chips and tomato dip, french fries, Coleslav salad, beer
                .receipe
                    h5
                        a(href='barbacoa.html') Beef Fajitas with color
                        span.price.pull-right  $23.45
                    p Peppers in pan and tortilla bread and sauces
                .receipe
                    h5
                        a(href='barbacoa.html') Taco Salad in a Tortilla
                        span.price.pull-right  $18.45
                    p Bowl with Beef Cheese and Lettuce