extends layouts/main

block content
    // Common menu
    section.common-menu
        .container
            .row.upper-info
                ul.pull-right
                    li
                        span.fa.fa-map-marker
                        |  6087 Richmond hwy, Alexandria, VA
                    li
                        span.fa.fa-phone
                        |  703 329 0632
                    li
                        span.fa.fa-clock-o
                        |  Mo-Fr 11:00-00:00, Sa-Su 15:00-00:00
            .row
                img(src='img/logo.png', alt='logo')
                nav.pull-right
                    ul.menu
                        li
                            a(href='index.html') Home
                        li
                            a(href='services.html') Services
                        li
                            a(href='team.html') Team
                        li
                            a(href='pricing-table.html') Offers
                        li
                            a(href='menu.html') Our menu
    // Breadcrumbs
    .breadcrumb
        .container
            ul
                li
                    a(href='index.html') Home
                li.active
                    a(href='menu.html') Menu
    // Menu
    section.section-menu
        .container
            .col-md-3
                a(href='appetizer.html')
                    img(src='img/menu/appetizers.jpg', alt='', width='')
                    p Appetizer
            .col-md-3
                a(href='appetizer.html')
                    img(src='img/menu/main-courses.jpg', alt='', width='')
                    p Main Courses
            .col-md-3
                a(href='appetizer.html')
                    img(src='img/menu/desserts.jpg', alt='', width='')
                    p Desserts
            .col-md-3
                a(href='appetizer.html')
                    img(src='img/menu/beverages.jpg', alt='', width='')
                    p Bevarages